h1 {
	font-family: cursive;
	color: #fff;
	width: 100%;
	background-color: darkgrey;
	text-align: center;
}

.red {
  color: red;
	font-family: sans-serif;
}

.blue {
  color: blue;
	font-family: sans-serif;
}
